# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
startrit/
venv/
ENV/
env/
cam_venv

# Face data and models
known_encodings.npy
known_names.npy
faces/
registered_faces/
*.dat

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
.env
